.link-with-img {
	max-width: 700px;
	align-self: center;
}

.body-container.w-container {
	display: flex;
	flex-direction: column;
}

@media (max-width: 768px) {
	.link-with-img {
		max-width: 100%;
	}
}
.section-3 img {
	width: 28px;
	height: 28px;
}

.body-container.w-container p a {
	font-weight: bold;
}
p.note {
	padding: 20px;
	color: rgb(0, 102, 255);
	background-color: rgb(179, 237, 255);
	font-weight: bold;
	font-size: 22px;
}

.age-selection {
	display: flex;
	flex-wrap: wrap;
}

.age-selection a {
	display: block;
	width: calc(50% - 20px);
	padding: 20px;
	margin: 10px;
	background-color: #41c527;
	border-radius: 4px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

@media (max-width: 768px) {
	.age-selection a {
		width: 100%;
	}
}
